
body {
  display: flex;
  justify-content: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  width: 100%;
}
.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  background-color: black;
  z-index: 1;
  padding-right: 50px;
}
#logo {
  height: 50px;
  padding-left: 10px;
  display: block;
}
ul {
  list-style-type: none;
}
li,
a {
  display: inline-block;
  color: seashell;
}
main {
  position: relative;
  top: 70px;
}
.mission {
  display: flex;
  align-items: center;
  height: 700px;
  background-image: url("../images/mission.jpg");
  background-repeat: no-repeat;

}
.content {
  background-color: black;
  text-align: center;
  height: 150px;
  width: 1200px;
  padding-bottom: 20px;
}
.tea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
}
.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.products-picture img {
  height: 200px;
  width: 300px;
  margin: 10px;
  display: block;
}
.products-picture h4 {
  text-align: center;
  margin-top: 10px;
}
.tea-title {
  text-align: center;
}
.location {
  display: flex;
  flex-direction: column;
  height: 500px;
  background-image: url("../images/locations.jpg");
}
.location-title {
  text-align: center;
}
.square-container {
  display: flex;
  text-align: center;

}
.location-square {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 40px;
  width: 300px;
  text-align: center;
  opacity: 1;
}

.footer {
  text-align: center;

}
.footer-content {
  height: 200px;
}
.footer-copyright {
  text-align:left;
  margin-left: 20px;
}
